body {
  background: ghostwhite;
}

.form {
  padding: 10px;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form > * {
  margin-left: 1em;
}

.form > * :first-child {
  margin-left: 0;
}

.form .invalid {
    border-color: red;
    background-color: lightpink;
}

.direction {
  border: none;
  border-radius: 5px;
  background: transparent;
}

.direction:hover {
  background: grey;
}

.direction img {
  height: 1em;
  width: 1em;
}

.direction.descending {
  transform: rotate(180deg)
}

.brickcollection {
  border: 2px solid gainsboro;
  width: 100%;
}

.brickcollection h3 {
  text-align: center;
}

.brickcollection .brick {
  margin: 5px;
  display: inline-grid;
}

.brickcollection .brick .stud {
  margin: auto;
}

.filtered-bricks {
  margin-top: 1em;
  border: 2px solid gainsboro;
}

.filtered-bricks .direction {
  height: 0.8em;
  width: 0.8em;
}

.stud {
  height: 1em;
  width: 1em;
}

.stud svg {
  height: 100%;
  width: 100%;
}
