body {
  background: ghostwhite;
}

.createform {
  padding: 10px;
  border: 2px solid gainsboro;
  width: 100%;
}

.sortform {
  padding: 10px;
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

form .number {
  margin-left: 1em;
  margin-right: 1em;
}

form .invalid {
    border-color: red;
}

.brickcollection {
  border: 2px solid gainsboro;
  width: 100%;
}

.brickcollection h3 {
  text-align: center;
}

.brickcollection .brick {
  margin: 5px;
  display: inline-grid;
}

.brickcollection .brick .stud {
  margin: auto;
}