body {
  background: ghostwhite;
}

.form {
  padding: 10px;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form > * {
  margin-left: 1em;
}

.form > * :first-child {
  margin-left: 0;
}

.form .invalid {
    border-color: red;
    background-color: lightpink;
}

.direction {
  border: none;
  background: transparent;
}

.direction img {
  height: 1em;
  width: 1em;
}

.descending img {
  transform: rotate(180deg)
}

.brickcollection {
  border: 2px solid gainsboro;
  width: 100%;
}

.brickcollection h3 {
  text-align: center;
}

.brickcollection .brick {
  margin: 5px;
  display: inline-grid;
}

.brickcollection .brick .stud {
  margin: auto;
}